// GENERAL STYLES
body{
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.05);*/
  background-color: #6EA60C;
}
html {
  color: #000;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}


// NAVBAR
.navigationBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 15px 30px;
  background-color: #FFF;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  z-index: 1;
  .logo {
    max-width: 130px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 20px;
    &:hover {
      color: #6EA60C;
      font-weight: 600;
    }
  }
  .menuIcons {
    ul {
      display: flex;
      list-style: none;
      margin-top: 15px;
    }
  }
}

// GALLERY SECTION:
.imgGallery {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    width: 33.3333%;
    margin: 0;
  }
}

// HOME
// Carousel
.carousel__item {
  height: 621px;
  h1 {
    font-size: 3rem;
    margin: 0 0 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }
  .carousel__text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
    margin: 0 0 50px;
  }
}

// Select Bar
.select-bar {
  background-color: #6EA60C;
  width: 100%;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 100px;
  .title__search {
    font-size: 1.4rem;
  }
  .select__form {
    display: flex;
    justify-content: center;
    gap: 30px;
    .select__group {
      color: #333;
      border: thin solid #FFF;
      border-radius: 20px;
      text-align: left;
      padding: 5px 180px 5px 20px;

    }
    Button {
      border: thin solid #FFFFFF;
      border-radius: 20px;
      padding: 0 30px;
      color: #FFFFFF;
      background-color: transparent;
      &:hover {
        background-color: #4B7F55;
        color: #FFFFFF;
      }
    }
  }
}
.wrapper__home {
  padding: 50px 0 0;
}

// SECTION:
section {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;

  .wrapper {
    display: flex;
    padding: 200px 0 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    h3 {
      font-size: 2rem;
      font-weight: 600;
      width: 100%;
    }
    p {
      font-size: 1rem;
      margin-bottom: 50px;
    }
  }
  .wrapper__home {
    object-position: top;
  }
}

// ABOUT SECTION:
.aboutSection {
  .aboutSection__text {
    padding: 30px 200px;
  }
  .text--intro {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2rem;
    color: #4B7F55;
    margin-bottom: 40px;
  }
  p {
    text-align: justify;
  }
  .text__green {
    color: #4B7F55;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .aboutSection__img {
    width: 100%;
    margin: 0;
  }
}

// EXPERIENCIAS SECTION:
.experienceSection {
 padding: 0;
}


// CARDS SECTION:
.cardsSection {
  .wrapper__cards {
    display: flex;
    padding: 70px 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: space-between;

  }
  .row {
    display: flex;
    justify-content: center;
  }
  .card__item {
    padding-bottom: 30px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    &:hover {
      border: 2px solid #6EA60C;
    }
    .card__image {
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      .card-img-top:hover {
        transform: scale(1.1);
      }
      .card__price {
        background-color: #6EA60C;
        border-radius: 20px;
        color: #FFFFFF;
        padding: 5px 10px;
        font-size: 1.1rem;
        font-weight: 600;
        position: absolute;
        top: 20px;
        left: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

      }
    }
    .card__body {
      .card__title {
        color: #4B7F55;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: #FFFFFF;
        border-bottom: thin solid #CCC;
        margin-bottom: 40px;
      }
      .card__text {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin-bottom: 50px;
      }
      .card__details {
        margin: 0 0 5px;

        .details__icons {
          list-style: none;
          display: flex;
          align-content: baseline;
          justify-content: space-between;
          img {
            width: 30px;
            margin-bottom: 10px;
          }
        }
        .details__icons--text {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }
      .card__reviews {
        margin: 0 0 40px;
        .reviews__icons {
          display: flex;
          justify-content: flex-start;
          list-style: none;
        }
        img {
          height: 15px;
        }
        .reviews__text {
          margin: 3px 0 30px 10px;
          font-size: 1rem;
          color: #666;
        }
      }
      .btn__card {
        background-color: #6EA60C;
        color: #FFF;
        border: thin solid #FFFFFF;
        border-radius: 20px;
        padding: 10px 30px;
        text-decoration: none;
        &:hover {
          background-color: #4B7F55;
          color: #FFFFFF;
        }
      }
    }
  }
}
//RESERVAS

.reservasSection {

  .reservas {
    display: flex;
    justify-content: space-between;

    .reservas__description {
      text-align: justify;
      padding: 80px;

      h4 {
        font-size: 1.8rem;
        color: #4B7F55;
        margin-bottom: 30px;
        font-weight: 600;
      }

      h5 {
        font-size: 1.1rem;
        color: #000;
        margin-bottom: 20px;
        padding: 5px 0;
      }

      .reservas__text--intro {
        color: #4B7F55;
        font-weight: 600;
        margin-bottom: 30px;
      }

      .reservas__text {
        margin-bottom: 10px;
      }

      .reservas__text--last {
        margin-bottom: 20px;
      }

      .reservasCard__details {
        margin-left: 10px;
        .reservasCard__icons {
          list-style: none;
          display: flex;
          justify-content: space-around;
          li {
            text-align: center;
            img {
              width: 30px;
              margin-bottom: 10px;
            }
            .reservasCard__icons--text {
              font-size: 0.9rem;
              font-weight: 600;
              width: 150px;
            }
          }
        }
      }
    }
    .reservas__form {
      padding: 60px 30px;
      margin: 60px;
      border: 2px solid #4B7F55;
      border-radius: 20px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
      justify-content: space-around;
      width: 33.3333%;

      h4 {
        font-size: 1.8rem;
        color: #4B7F55;
        margin-bottom: 30px;
        font-weight: 600;
      }

      .form-control {
        margin: 10px 0;
        padding: 10px;
        display: inline-flex;
        justify-content: space-around;
        gap: 20px;

        label {
          color: #4B7F55;
          font-weight: 500;
          width: 25%;
          text-align: start;
          font-size: 1rem;
        }

        input, textarea, select, #birthDate {
          width: 75%;
          padding: 5px 20px;
        }
      }

      .btn__reservation {
        background-color: #6EA60C;
        color: #FFF;
        border: thin solid #FFFFFF;
        border-radius: 20px;
        padding: 10px 50px;
        margin: 30px 0;
        text-decoration: none;

        &:hover {
          background-color: #4B7F55;
          color: #FFFFFF;
        }
      }
    }
  }
}




//FOOTER
.footer {

  p {
    background-color: #4B7F55;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    align-content: center;
    font-size: 1rem;
    line-height: 1rem;
    position: relative;
    bottom: 0;
  }
}